* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  margin-right: 9%;
}

video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(Shoes-Stories.jpg) no-repeat;
    background-size: cover; 
}

label {
  font-size: 20px;
}

button {
  cursor: pointer;
  font-size: 20px;
}


.setup{
  text-align: center;
  color: white;
}

.sex{
  padding: 20px;
}

.buttonHolder {
  text-align: center;
}

.next{
  margin-top: 20px;
  font-size: 60px;
  font-family: 'Roboto', sans-serif;
  background-color: #86bbd8;
  color: white; 
  border: solid 3px white;
  opacity: .8;
}

.delete {
  text-align: center;
  font-size: x-large;
}

.startpage{
  color: white;
}

.menubar {
  z-index: 9999;
  background-color: #86bbd8;
  opacity: .8;
  color: white;
  position: fixed;
  top: 0;
  right: 0;
  width: 8%;
  height: 100vh;
  transition: width 0.3s, color 1s;
}

.menubutton {
  text-align: center;
  font-size: 60px;
  color: white;
  cursor: pointer;
}

.openmenubar {
  z-index: 9999;
  width: 30%;
  background-color: #86bbd8;
  opacity: 1;
}

#calCounter {
  text-align: center;
  color: white;
  opacity: 1;
}

#calCounter2 {
  text-align: center;
  color: white;
  opacity: 1;
}


.nav-menu {
  list-style: none;
  text-align: left;
  padding-left: 5px;
}

.nav-menu li {
  padding: 10px;
  cursor: pointer;
}

.title-header {
  text-align: center;
  font-weight: bold;
  font-size: 80px;
  margin-bottom: 5px;
}

.header {
  text-align: center;
  font-weight: bold;
  color: white;
}

.hidden {
  display: none;
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  margin-top: 10px;
  height: 100vm;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.long-text {
  text-align: left;
  margin: 10px;
  background-color: #9ed886;
  opacity: .8;
  padding: 20px;
}

.mealBar {
  flex-basis: 250px;
  flex-grow: 1;
  max-height: 200px;
  border: solid 5px black;
  font-size: 20px;
  color: white;
  margin: 10px;
  padding: 10px;
  background-color: gray;
  opacity: .6;
}

.box {
  flex-basis: 400px;
  flex-grow: 1;
  margin: 10px;
  padding: 10px;
  border: solid black 2px;
  font-size: 20px;
  color: white;
  padding: 10px;
  background-color: gray;
  opacity: .8;
  padding-right: 20px;
}

.food-search {
  text-align: center;
}

.bar {
    border: 1px solid #d1d1d1;
    text-align: left;
    font: bold 20px;
    font-size: 20px;
    color: #86bbd8;
    width: 150px;
    /*padding: 1px 15px 6px 35px;*/
    padding: 6px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}

.animate {
  color: white;
  text-align: center;
  padding: 20px;
  width: 100%;
  height: 80%;
  animation: pulse 5s infinite;
}

@keyframes pulse {
  0% {
    background-color: grey;
  }
  100% {
    background-color: #86bbd8;
  }
}

.reset {
  color: black;
}

@media all and (max-width:800px) {
    html {
          /*background: url(Shoes-Stories.jpg) #000 center center fixed;*/
          background-color: lightgray;
      }
      #bgvid {
          display: none;
      }

.header {
  padding: 10px;
}


  .long-text {
    background-color: transparent;
    color: black;
  }

  .text{
    flex-direction: column;
    justify-content: center;
  }
  
  .box {
    width: 100%;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
  }

  .mealBar {
    width: 100%;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
  }

  .menubar {
    background-color: transparent;
    margin-right: 30px;
  }

  .menubutton {
    margin: 5px;
    font-size: 60px;
  }

  .openmenubar {
    margin-right: 0;
    height: 100vh;
    width: 30%;
    background-color: #86bbd8;
  }

  #calCounter {
    display: none;
  }
}
