* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.setup{
  text-align: center;
}

label {
  font-size: 20px;
}

.menubar {
  background-color: lightgray;
  opacity: .6;
  color: white;
  position: fixed;
  top: 0;
  right: 0;
  width: 5%;
  height: 100vh;
  cursor: pointer;
  transition: width 0.3s, color 1s;
}

.menubutton {
  text-align: center;
  font-size: 40px;
  color: white;
}

.openmenubar {
  width: 30%;
  background-color: lightgrey;
  opacity: 1;
}

.nav-menu {
  list-style: none;
  text-align: left;
  padding-left: 5px;
}

.nav-menu li {
  padding: 10px;
}

.header {
  text-align: center;
  font-weight: bold;
}

.hidden {
  display: none;
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;
  justify-content: center;
}

.long-text {
  text-align: left;
  margin: 10px;
}

.mealBar {
  justify-content: flex-start;
  border: solid 5px black;
  font-size: 20px;
  color: white;
  text-align: left;
  margin: 10px;
  padding: 10px;
  background-color: gray;
  opacity: .6;
}

.meal-header {
  align-self: center;
  text-align: center;
  margin-top: 100px;
}

.delete {
  text-align: center;
}

.itemBar {
  flex: 1;
  width: 400px;
  justify-content: center;
  border: solid 5px black;
  font-size: 20px;
  color: white;
  text-align: left;
  margin: 10px;
  padding: 10px;
  background-color: gray;
  opacity: .6;
}
/*.startpage {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}*/

.main {
 align-self: flex-start;
}

.food-search {
  text-align: center;
}

.bar {
    border: 1px solid #d1d1d1;
    font: bold 20px;
    color: #8C9AA4;
    width: 150px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}

@media all and (max-width:800px) {

}

@media all and (max-width:500px) {

}